.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 2rem 0;
  width: 100%;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.featureImg {
  max-height: 400px;
  margin: 0 auto;
  border-radius: 200px;
}